.dark-mode{
    color: rgb(200, 200, 200);
}
.light-mode{
    color: black;
}
.contact-head{
    padding-top: 4rem;
}
.input-row{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.email-form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.hide-form{
    display: none;
}
.email-input{
    width: 200px;
}
.email-message{
    width: 30vw;
    resize: none;
}
.company-input{
    width: 200px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 4px;
}
.hide-submit-display{
    display: none;
}